<h1>I Found A Pet Form</h1>

<form method="POST" action="/iFoundAPet">

    <input type="text" name="animalSpecies"/>

    <input type="radio" name="animalGenderMale" value="male">Male<br />
    <input type="radio" name="animalGenderMale" value="female">Female<br />

    <input type="text" name="animalPic"/>

    <input type="text" name="animalFeatures"/>

    <input type="text" name="foundStreet1"/>

    <input type="text" name="foundStreet2"/>

    <input type="text" name="personName"/>

    <input type="text" name="personEmail"/>

    <button type="submit">Submit Post</button>
</form>