		<!-- Banner -->
			<section class="banner full">
				<article>
					<img src="./front-end/html/images/bslide03.jpg" alt="" />
					<div class="inner">
						<header>
							<p>Losing your pet</p>
							<h2>REALLY SUCKS</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="./front-end/html/images/bslide02.jpg" alt="" />
					<div class="inner">
						<header>
							<p>But you should know....</p>
							<h2>THERE IS HOPE</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="./front-end/html/images/bslide01.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>We connect lost pets with their owners</p>
							<h2>DAILY</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="./front-end/html/images/bslide04.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>Sometimes the simplest ideas</p>
							<h2>WORK BEST</h2>
						</header>
					</div>
				</article>
				<article>
					<img src="./front-end/html/images/bslide05.jpg"  alt="" />
					<div class="inner">
						<header>
							<p>a social finding and sharing platform</p>
							<h2>THAT'S THE CATS MEOW</h2>
						</header>
					</div>
				</article>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2">
				<div class="inner">
					<div class="grid-style">

						<div>
							<div class="box">
								<div class="image fit">
									<img src="./front-end/html/images/bslide03.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>a social finding and sharing platform</p>
										<h2>That has Everyone Barking</h2>
									</header>
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

						<div>
							<div class="box">
								<div class="image fit">
									<img src="./front-end/html/images/found_doggo.jpg" alt="" />
								</div>
								<div class="content">
									<header class="align-center">
										<p>using google's geo location technology</p>
										<h2>Strangers can Help Eachother</h2>
									</header>
									<p> Cras aliquet urna ut sapien tincidunt, quis malesuada elit facilisis. Vestibulum sit amet tortor velit. Nam elementum nibh a libero pharetra elementum. Maecenas feugiat ex purus, quis volutpat lacus placerat malesuada.</p>
									<footer class="align-center">
										<a href="#" class="button alt">Learn More</a>
									</footer>
								</div>
							</div>
						</div>

					</div>
				</div>
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3">
				<div class="inner">
					<header class="align-center">
						<p>have you found a pet?</p>
						<h2><a href="#">I HAVE FOUND A PET</a></h2>
					</header>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2">
				<div class="inner">
					<header class="align-center">
						<p class="special">Nam vel ante sit amet libero scelerisque facilisis eleifend vitae urna</p>
						<h2>Morbi maximus justo</h2>
					</header>
					<div class="gallery">
						<div>
							<div class="image fit">
								<a href="#"><img src="./front-end/html/images/pic01.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="./front-end/html/images/pic02.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="./front-end/html/images/pic03.jpg" alt="" /></a>
							</div>
						</div>
						<div>
							<div class="image fit">
								<a href="#"><img src="./front-end/html/images/pic04.jpg" alt="" /></a>
							</div>
						</div>
					</div>
				</div>
			</section>


