<h1>Search Found Pets</h1>

{{#each Allposts}}
    <div>
        <h1>{{Allposts.personName}} found a lost {{Allposts.animalSpecies}}</h1>
        <h3>{{Allposts.animalFeatures}}</h3>
    </div>
{{/each}}